{% extends "base.html.twig" %}
{% block content %}
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3">
            <form action="{{ path('store-team') }}" method="POST">
                <div class="row">
                    <div class="form-group">
                        <label class="form-label">
                            Team name
                        </label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Team name" aria-label="Team name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            Country
                        </label>
                        <select class="form-control" id="country_code" name="country_code">
                            {% for key,value in countries %}
                                <option value="{{ key }}">
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            Coupon Code
                        </label>
                        <input type="text" class="form-control" id="name" name="coupon_code" placeholder="Coupon code to get wellcome balance" />
                    </div>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary" style="min-width:140px;">
                    Create Team
                </button>
            </form>
        </div>
    </div>
{% endblock %}
